<!DOCTYPE>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
</head>
<body>
	<form action="/" method="GET">
		日付：<input type="date" name="start" value='<c:out value="${start}" />'> ～ <input type="date" name="end" value='<c:out  value="${end}" />'>
		<input type="submit" value="絞り込み">
	</form>


	<a href="/new"><button type="button">新規投稿</button> </a>
	<table border="1">
		<tr>
			<th>ID</th>
			<th colspan="2">内容</th>
			<th>コメント</th>
		</tr>
		<tr th:each="content : ${contents}">
			<td th:text="${content.id}">
			<td>
				<span  th:text="${content.content}"></span><br>
				<br>
				投稿日：<span th:text="${content.createdDate}"></span><br>
				更新日：<span th:text="${content.updatedDate}"></span><br>
			</td>
			<td>
				<!-- 「/delete/{id}」の「{id}」は、URLパラメータ -->
				<!-- method属性にdeleteを記述すると、「<input type="hidden" name="_method" value="delete">も
					自動的に追記される -->
				<form th:method="delete" th:action="@{/delete/{id}(id=${content.id})}">
					<input type="submit" value="削除" />
				</form>
				<form method="post" action="/edit">
					<input type="hidden" name ="id" th:value="${content.id}">
					<input type="hidden" name ="content" th:value="${content.content}">
					<input type="submit" value="編集" />
				</form>
			</td>
			<!--  コメント -->
			<td>
				<form method="post" action="/comment" th:object="${formModel}">
					<input type="text" name="content" size="20" maxlength="150" />
					<input type="hidden" name="report_id" th:value="${content.id}">
					<input type="submit" value="コメント投稿" />
				</form>
				<th:block th:each="comment:${comments}">
				<th:block th:if="${comment.report_id == content.id}">
					<span th:text="${comment.content}"></span><br>
					<span th:text="${comment.created_date}"></span>(<span th:text="${comment.updated_date}"></span>)<br>
					<a href="index.html" th:href="@{/editComment/{id}(id=${comment.id})}">編集</a>
					<form th:method="delete" th:action="@{/deleteComment/{id}(id=${comment.id})}">
						<input type="submit" value="削除" />
					</form>
				</th:block>
				</th:block>
			</td>
	</table>
</body>
</html>
<!-- 1. 投稿へのコメント機能を追加
DBにテーブルを追加すること。 -->
<!--  1. 投稿削除機能
削除ボタンの追加
削除ボタンを押した後のコントローラでの処理
テーブルの任意のレコードを削除
処理後の画⾯遷移先  -->